USE [master]
GO
/****** Object:  Database [backend]    Script Date: 9/10/2023 22:36:28 ******/
CREATE DATABASE [backend]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'backend', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\backend.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'backend_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\backend_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [backend].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [backend]
GO
/****** Object:  Table [dbo].[b_virtual]    Script Date: 9/10/2023 22:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[b_virtual](
	[ID_BV] [int] IDENTITY(1,1) NOT NULL,
	[moneda] [nchar](10) NULL,
	[saldo] [decimal](18, 0) NULL,
	[moneda_adquirida] [nchar](10) NULL,
	[saldo_adquirido] [decimal](18, 0) NULL,
 CONSTRAINT [PK_b_virtual] PRIMARY KEY CLUSTERED 
(
	[ID_BV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[token]    Script Date: 9/10/2023 22:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[token](
	[ID_token] [int] NULL,
	[tiempo_vencimiento] [timestamp] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacciones]    Script Date: 9/10/2023 22:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacciones](
	[ID_TRANS] [int] IDENTITY(1,1) NOT NULL,
	[usuarioemisor] [int] NULL,
	[usuarioreceptor] [int] NULL,
	[monto] [decimal](18, 0) NULL,
	[fechahora] [timestamp] NULL,
 CONSTRAINT [PK_transacciones] PRIMARY KEY CLUSTERED 
(
	[ID_TRANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/10/2023 22:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[SegundoNombre] [nchar](10) NULL,
	[Apellidos] [nchar](10) NULL,
	[Evidencia1] [nchar](10) NULL,
	[Evidencia2] [nchar](10) NULL,
	[Evidencia3] [nchar](10) NULL,
	[Estado] [nchar](10) NULL,
	[Coloquio] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
